{% extends 'layout/base.html.jinja' %}
{% block content %}
<div class="is-flex is-justify-content-center is-align-items-center is-flex-grow-1 has-background-info">
    <div class="container">
        <figure class="image is-fullwidth">
            <img src="/static/images/not_found.svg" />
        </figure>
    </div>
</div>
{% endblock %}